<h2>Create Alumni Account</h2>
<div class="span-11" style="background-color: #FCFAEB;border: 1px solid #CCCCCC;border-radius: 3px 3px 3px 3px;">
    <div class="buffer">
        <p>You do not seem to have a Carthage account. Use the form below to create one.</p>
        <p>If you are certain that you do indeed have a Carthage account, please contact the
        <a href="mailto:alumnioffice@carthage.edu">Alumni Office</a> for further assistance.</p>
        {% include "includes/generic_form.html" %}
    </div>
</div>
