<h2>LDAP</h2>
<pre>
objectClass....................{{data.objectclass}}
givenName......................{{data.givenName}}
sn (surname)...................{{data.sn}}
carthageDob....................{{data.carthageDob}}
carthageNameID.................{{data.carthageNameID}}
cn (username)..................{{data.cn}}
mail...........................{{data.mail}}
carthageFacultyStatus..........{{data.carthageFacultyStatus}}
carthageStaffStatus............{{data.carthageStaffStatus}}
carthageStudentStatus..........{{data.carthageStudentStatus}}
carthageFormerStudentStatus....{{data.carthageFormerStudentStatus}}
carthageOtherStatus............{{data.carthageOtherStatus}}
</pre>
<h2>Django</h2>
<pre>
ID.............................{{data.djuser.id}}
</pre>

