<h2>We found your account</h2>
<div class="span-11" style="background-color: #FCFAEB;border: 1px solid #CCCCCC;border-radius: 3px 3px 3px 3px;">
<div class="buffer">
    <p>Your username is: <strong>{{user.cn.0}}</strong>. Use the form below to log in.</p>
    <h4>Forgotten your password?</h4>
    {% if not user.questions %}
        <p>
            You can reset it <a href="">here</a>.
        </p>
    {% else %}
        <p>
            You can reset it at <a href="https://password.carthage.edu/" target="_blank">password.carthage.edu</a>.
        </p>
    {% endif %}
</div>
{% include "accounts/login_form.inc.html" %}
</div>
