{% extends "core/home.html" %}
{% block extra_style %}
<style type="text/css" media="screen, projection">
#id_cn, #id_ssn, #id_carthageDob {
    width: 100px;
}
</style>
{% endblock %}
{% block extra_javascript %}
<script type="text/javascript" charset="utf-8">
$(function() {
    {% if request.session.ldap_cn %}
    $("#id_cn").val("{{request.session.ldap_cn}}");
    $("#id_cn").prop('disabled', true);
    $("#profile").bind('submit', function() {
        $(this).find("#id_cn").removeAttr('disabled');
    });
    {% endif %}
});
</script>
{% endblock %}
{% block content %}
<div id="second">
    <div class="buffer">
        <h2>Change Your Password</h2>
        {% if errors %}
            <div class="error">
                <p>{%for n,v in errors.items %}{{v}}{% endfor %}</p>
                <p>Please contact <a href="mailto:alumnioffice@carthage.edu">The Alumni Office</a></p>
            </div>
        {% endif %}
        {% include "includes/generic_form.html" %}
    </div>
</div>
{% endblock %}
{% block extra_content %}
{% endblock %}
