{% autoescape off %}
    <div style="display:none;">
    {% include "registration/search.inc.html" %}
    </div>
    <div>
    {% if not error %}
        {% if results %}
            <ol>
            {% for r in results %}
                <li>
                    <input type="radio" name="alumna" value="{{r.id}}" id="id_alumna" />
                    <label for="id_alumna"> {{r.firstname}} {{r.lastname}}</label>
                    <input type="hidden" name="ldap_name" value="{{r.ldap_name|default_if_none:''}}" />
                    <dl>
                    <dt>Postal code</dt><dd>{{r.postal_code}}</dd>
                    {% if r.start_year %}
                    <dt>Years attended</dt><dd>{{r.start_year}}&mdash;{{r.end_year}}</dd>
                    {% endif %}
                    {% if r.phone %}
                    <dt>Last 4 digits of phone</dt><dd>x{{r.phone|slice:"8:12"}}</dd>
                    {% endif %}
                    </dl>
                </li>
            {% endfor %}
            </ol>
        {% else %}
            <h2>{{error}}</h2>
        {% endif %}
    {% else %}
        <h2>Error</h2>
        <strong>{{error}}</strong>
    {% endif %}
    </div>
    {#sql#}
{% endautoescape %}
