<fieldset class="blockLabels">
    <ol>
        <li class="ctrlHolder">
            <h3><label for="id_givenName">First name</label></h3>
            <div class="required">
                <input type="text" name="givenName" id="id_givenName" value="{{form.data.givenName}}" required="required" />
            </div>
        </li>
        <li class="ctrlHolder">
            <h3><label for="id_sn">Last name</label></h3>
            <div class="required">
                <input type="text" name="sn" id="id_sn" value="{{form.data.sn}}" required="required" />
            </div>
        </li>
        <li class="ctrlHolder">
            <h3><label for="id_carthageDob">Date of birth</label></h3>
            <div class="required">
                <input type="text" name="carthageDob" id="id_carthageDob" value="{{form.data.carthageDob}}" required="required" />
            </div>
            <p class="help">Format: mm/dd/yyyy</p>
        </li>
        <li class="ctrlHolder">
            <h3><label for="id_postal_code">Postal code</label></h3>
            <input type="text" name="postal_code" id="id_postal_code" maxlength="10" value="{{form.data.postal_code}}" />
        </li>
        <li class="ctrlHolder">
            <h3><label for="id_carthageNameID">Carthage ID</label></h3>
            <input type="text" name="carthageNameID" id="id_carthageNameID" value="{{form.data.carthageNameID}}" />
            <p class="help">
                Although not required for this form, your Carthage ID will help us identify you more quickly.
                <!--
                You can find it on the Carthaginian mailing label.
                Alternatively,
                you can request a <a href="//www.carthage.edu/alumni/carthage-gear/alumni-id/">Carthage ID card</a>.
                -->
            </p>
        </li>
    </ol>
</fieldset>
{% include "form_submit.inc.html" %}
