{% extends "core/home.html" %}
{% block extra_style %}
{{block.super}}
<link rel="stylesheet" href="//www.carthage.edu/static/vendor/jquery/plugins/wowwindow/wowwindow.css"
    type="text/css" />
<style type="text/css" media="screen, projection">
#id_postal_code,#id_carthageDob,#id_carthageNameID {
    width: 100px;
}
div.growlUI { background: url(//www.carthage.edu/assets/img/ico/check48.png) no-repeat 10px 10px }
div.growlUI h1, div.growlUI h2 {
    color: white; padding: 5px 5px 5px 75px; text-align: left;
}
.search-results {padding:9px; background-color: #FCFAEB;border: 1px solid #CCCCCC;border-radius: 3px 3px 3px 3px;}
dl dt {
    background: none;
    float: left;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 20px;
    padding: 5px;
    width: 200px;
}
</style>
{% endblock %}
{% block extra_javascript %}
<script src="https://malsup.github.io/min/jquery.blockUI.min.js" type="text/javascript"></script>
<script src="//www.carthage.edu/static/vendor/js/spin.min.js" type="text/javascript"></script>
<script src="//www.carthage.edu/static/vendor/jquery/plugins/wowwindow/jquery.wowwindow.min.js"
    type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    var opts = {
        lines: 13, // The number of lines to draw
        length: 20, // The length of each line
        width: 10, // The line thickness
        radius: 30, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        direction: 1, // 1: clockwise, -1: counterclockwise
        color: '#000', // #rgb or #rrggbb or array of colors
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: false, // Whether to render a shadow
        hwaccel: false, // Whether to use hardware acceleration
        className: 'search-results', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: '50px', // Top position relative to parent in px
        left: 'auto' // Left position relative to parent in px
    };
    var target = document.getElementById('search-results');
    var spinner = new Spinner(opts).spin(target);
    spinner.stop(target);
    $("#informix-profile").submit(function(e) {
        $.ajax({
            url:  '{{informix_earl}}',
            type: 'POST',
            async: true,
            data: $("#informix-profile").serialize(),
            dataType: 'html',
            beforeSend: function(){
                spinner.spin(target);
                // disable form submit button
                $('#id_submit').attr('disabled', 'disabled');
            },
            success: function(data){
                spinner.stop(target);
                $.growlUI('Search Results', 'Did we find you...?');
                $('#search-results').html(data);
                // enable form submit button
                $('#id_submit').removeAttr('disabled');
            },
            error: function (){
                console.log("error");
            }
        });
        return false; // avoid executing the actual submit
    });
    $('body').on('click',':radio',function(){
        $.ajax({
            url:  '{{ldap_earl}}',
            type: 'POST',
            async: true,
            data: $("#ldap-profile").serialize(),
            dataType: 'html',
            beforeSend: function(){
                console.log($("#ldap-profile").serialize());
                spinner.spin(target);
                // disable form submit button
                $('#id_submit').attr('disabled', 'disabled');
            },
            success: function(data){
                spinner.stop(target);
                $('#ldap-profile').remove();
                $('#informix-profile').remove();
                $('#form-container').html(data);
                $(".required > input").addClass("required");
                $(".required > select").addClass("required");
                $(".required > textarea").addClass("required");
                $(".warning > input").addClass("error");
                $(".warning > select").addClass("error");
                $(".warning > textarea").addClass("error");
                $(".required > ul").parent().parent().find('h3').addClass("required");
            },
            error: function (){
                console.log("error");
            }
        });
    });
    $('a[rel=popupperson]').wowwindow({
        draggable: true,
        height: 600,
        width: 800,
        videoIframe: false
    });
});
</script>
{% endblock %}
{% block content %}
<div class="large-12 medium-12 small-12">
    <h1>Carthage Alumni Directory Registration</h1>
    {% include "includes/errors_text.html" %}
    <div id="form-container" class="forms-container">
        <div class="large-6 medium-7 small-7">
            <form method="post" action="." class="form" id="informix-profile">
                {% csrf_token %}
                {% include "registration/search.inc.html" %}
            </form>
        </div>
        <div class="large-5 medium-8 small-8 fright search-results">
            <form method="post" action="." class="form" id="ldap-profile">
                {% csrf_token %}
                <h4 style="padding-left:5px; padding-top:5px;">Search Results</h4>
                <div id="search-results"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block extra_content %}{% endblock %}
{% block sidebar %}{% endblock %}
