{% extends "accounts/login.html" %}
{% block columns %}<link href="//www.carthage.edu/media/css/douglasfir/3_column.css" rel="stylesheet" type="text/css" />{% endblock %}
{% block left_nav %}
    {% include "left_nav.html" %}
{% endblock %}
{% block extra_content %}
    <div class="buffer">
    <p><strong>Forgotten your password?</strong> You can reset it at <a href="http://www.carthage.edu/password/" target="_blank">www.carthage.edu/password/</a>.</p>
    <p><strong>NOTE:</strong> If you do not already have an account, please <a href="{% url 'registration_search' %}">create one</a>.</p>
    </div>
{% endblock %}
{% block sidebar %}
<div id="third">
    <div class="buffer">
    <p>If you have any questions about the Alumni Directory, please contact <a href="mailto:lhansen@carthage.edu">lhansen@carthage.edu</a></p>
    <p>As always, you may contact the Alumni Office by email at <a href="mailto:alumnioffice@carthage.edu">alumnioffice@carthage.edu</a>, by phone at 800-551-1518, or by stopping in to see us in Lentz Hall, #414.</p>
    <p>The <a href="/alumni/distinguished-alumni/nomination/">Distinguished Alumni Nomination Form</a> is now on-line!</p>

    <p>The new <a href="/alumni/apps/">Alumni Directory</a> is now on-line!</p>
    <p>Visit the <a href="/giving/">online giving</a> pages</p>
    </div>
</div>
{% endblock %}
