{% extends "core/home.html" %}
{% block title %}Edit Alumni Information &mdash; {{block.super}}{% endblock %}
{% block extra_style %}
    {{block.super}}
    <style type="text/css">
        fieldset {border:.1em solid #000000;margin-bottom:8px;}
        label {width:auto;padding-right:5px;font-weight:bold;}
        .business_address {padding-right:8.5em;}
        .form-row {clear:both;}
        div.header {font-weight:bold;font-size:13pt;float:left;}
        .home_address {padding-right:7.4em;}
        div.privacy {float:right;}
        input.privacyToggle {display:none;}
        .relative {width:4em;}
    </style>
{% endblock %}
{% block jquery %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
{% endblock %}
{% block javascript %}{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{static_url}}js/commonLib.js"></script>
    <script type="text/javascript" src="{{static_url}}js/alumniEdit.js"></script>
    <script type="text/javascript">
        var relationships = "{% for relCode, relText in relationships.items %}{{relCode}}^{{relText}}{% if not forloop.last %},{% endif %}{% endfor %}";

        $(document).ready(function(){
            /*
            $('input[name="activitySearch"]').autocomplete({
                source: '../../activity/',
                minLength: 2,
                select: function(event, ui){
                    console.log('Obj: ' + ui + '\nItem: ' + ui.item + '\nValue: ' + ui.value);
                }
            });
            */
            var privateFields = '{% for field, display in privacy.items %}{% ifequal display 'Y' %}{{field}},{% endifequal %}{% endfor %}';
            initPrivacy(privateFields);

            {% for field, display in privacy.items %}
                setPrivacy('{{field}}', '{{display}}' == 'Y');
            {% endfor %}
        });
    </script>
{% endblock %}
{% block content %}
    <div class="buffer">
    {% if submitted %}
        <h2>Thank you for updating your information. Your changes have been submitted to the office of Instutitional Advancement for review.</h2>
    {% endif %}
    <p><a href="{% url 'manager_search' %}">Return to Search</a></p>
    <form action="{% url 'manager_user_update' %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <input type="hidden" name="carthageID" value="{{studentID}}" />
            <input type="hidden" name="relativeCount" />
            <input type="hidden" name="activityCount" />
            <input type="hidden" name="athleticCount" />

            <div class="form-row header">Privacy Settings</div>
            <ul class="form-row">
                <li><input type="radio" name="privacy" value="0" /> Please do not show any of my information in the alumni directory.</li>
                <li><input type="radio" name="privacy" value="1" /> Do not allow others to see information other than my name and class year.</li>
                <li><input type="radio" name="privacy" value="2" /> Allow people to see my personal and academic details but do not share my address information. (Others will be able to send you a message but your email will remain private.)</li>
                <li><input type="radio" name="privacy" value="3" /> Make all my information available.</li>
                <li><input type="radio" name="privacy" value="4" /> Custom (specify your own privacy settings, a checked box makes information public)</li>
            </ul>
        </fieldset>
        <fieldset>
            <div class="form-row header">Personal Information</div>
            <div class="privacy"><a href="javascript://" class="privacyToggle"></a><input type="checkbox" name="privacyPersonal" class="privacyToggle" value="N" /></div>
            <div class="form-row">
                <label>Name:</label>
                <select name="prefix">
                    {% for prefix_code, prefix in prefixes.items %}
                        <option value="{{prefix_code}}" {% ifequal prefix person.prefix %}selected="selected"{% endifequal %}>{{prefix}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="fname" value="{{person.fname}}" size="10" placeholder="First Name" />
                <input type="text" name="maidenname" value="{% if person.birth_lname %}{% ifnotequal person.birth_lname person.lname %}({{person.birth_lname}}){% endifnotequal %}{% endif %}" size="11" placeholder="Maiden Name" />
                <input type="text" name="lname" value="{{person.lname}}" size="11" placeholder="Last Name" />
                <select name="suffix">
                    {% for suffix in suffixes %}
                        <option value="{{suffix}}" {% ifequal suffix person.suffix %}selected="selected"{% endifequal %}>{{suffix}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row"><label>Class year:</label>
                <select name="class_year">
                    <option value=""></option>
                    {% for year in years reversed %}
                        <option value="{{year}}" {% ifequal year person.class_year %}selected="selected"{% endifequal %}>{{year}}</option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>
    
        <fieldset id="familyBlock">
            <div class="form-row header">Family</div>
            <div class="privacy"><a href="javascript://" class="privacyToggle"></a><input type="checkbox" name="privacyFamily" class="privacyToggle" value="N" /></div>
            {% for relative in relatives %}
                <div class="form-row relativeBlock">
                    <label>Relative:</label><input type="text" name="relativeFname{{forloop.counter}}" value="{{relative.firstname}}" size="12" placeholder="First Name" />
                    <input type="text" name="relativeLname{{forloop.counter}}" value="{{relative.lastname}}" size="12" placeholder="Last Name" />
                    <select name="relativeText{{forloop.counter}}">
                        {% for relationshipCode, relationshipText in relationships.items %}
                            <option value="{{relationshipCode}}" {% ifequal relative.relCode relationshipCode %}selected="selected"{% endifequal %}>{{relationshipText}}</option>
                        {% endfor %}
                    </select>
                </div>
            {% endfor %}
            <input type="button" name="addRelative" value="Add Relative" />
        </fieldset>
    
        <fieldset id="academicBlock">
            <div class="form-row header">Academics</div>
            <div class="privacy"><a href="javascript://" class="privacyToggle"></a><input type="checkbox" name="privacyAcademics" class="privacyToggle" value="N" /></div>
            <div class="form-row"><label>Degree:</label><input type="text" name="degree" value="{{person.degree}}" placeholder="ex: BA, MBA, etc" /></div>
            <div class="form-row"><label>Major 1:</label>
                <select name="major1">
                    <option value=""></option>
                    {% for major_code, major in majors %}
                        <option value="{{major_code}}" {% ifequal major person.major1 %}selected="selected"{% endifequal %}>{{major}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row"><label>Major 2:</label>
                <select name="major2">
                    <option value=""></option>
                    {% for major_code, major in majors %}
                        <option value="{{major_code}}" {% ifequal major person.major2 %}selected="selected"{% endifequal %}>{{major}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row"><label>Major 3:</label>
                <select name="major3">
                    <option value=""></option>
                    {% for major_code, major in majors %}
                        <option value="{{major_code}}" {% ifequal major person.major3 %}selected="selected"{% endifequal %}>{{major}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row"><label>Masters Graduation Year:</label>
                <select name="masters_grad_year">
                    <option value=""></option>
                    {% for year in years reversed %}
                        <option value="{{year}}" {% ifequal year person.masters_grad_year %}selected="selected"{% endifequal %}>{{year}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row">
                <label>Student Organization{{activities|pluralize}}:</label><br />
                <ul id="activityList">
                    {% for org in activities %}
                        <li><input type="text" name="activity{{forloop.counter}}" value="{{org.activity}}" size="25" /></li>
                    {% endfor %}
                </ul>
                <input type="button" name="addActivity" value="Add Activity" />
                <p>&nbsp;</p>
            </div>
            <div class="form-row">
                <label>Athletic Team{{athletics|pluralize}}</label><br />
                <ul id="athleticList">
                    {% for team in athletics %}
                        <li><input type="text" name="athletic{{forloop.counter}}" value="{{team.sport}}" size="25" /></li>
                    {% endfor %}
                </ul>
                <input type="button" name="addTeam" value="Add Athletic Team" />
            </div>
        </fieldset>
    
        <fieldset>
            <div class="form-row header">Professional Information</div>
            <div class="privacy"><a href="javascript://" class="privacyToggle"></a><input type="checkbox" name="privacyProfessional" class="privacyToggle" value="N" /></div>
            <div class="form-row"><label>Business name:</label><input type="text" name="business_name" value="{{person.business_name}}" placeholder="Employer Name" /></div>
            <div class="form-row"><label>Job Title:</label><input type="text" name="job_title" value="{{person.job_title}}" placeholder="Job Title" /></div>
            <div class="form-row">
                <label>Business address:</label><input type="text" name="business_address" value="{{person.business_address}}" placeholder="Office Address" /><br />
                <label class="business_address">&nbsp;</label>
                <input type="text" name="business_city" value="{{person.business_city}}" placeholder="Office City" />,
                <select name="business_state">
                    <option value=""></option>
                    {% for state in states %}
                        <option value="{{state.st}}" {% ifequal state.st person.business_state %}selected="selected"{% endifequal %}>{{state.st}}</option>
                    {% endfor %}
                </select>
                <input type="text" name="business_zip" value="{{person.business_zip}}" size="5" placeholder="Postal Code" />
            </div>
            <div class="form-row">
                <label class="business_address">&nbsp;</label>
                <select name="business_country">
                    {% for ctry, txt in countries %}
                        <option value="{{ctry}}" {% ifequal ctry person.business_country %}selected="selected"{% endifequal %}>{{txt}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-row">
                <label>Business phone:</label><input type="text" name="business_phone" value="{{person.business_phone}}" size="12" placeholder="Office Phone #" />
            </div>
        </fieldset>

        <fieldset>
            <div class="form-row header">Address</div>
            <div class="privacy"><a href="javascript://" class="privacyToggle"></a><input type="checkbox" name="privacyAddress" class="privacyToggle" value="N" /></div>
            <div class="form-row"><label>Email:</label><input type="text" name="email" value="{{person.email}}" size="25" placeholder="Personal Email" /></div>
            <div class="form-row">
                <label>Home phone:</label><input type="text" name="home_phone" value="{{person.home_phone}}" size="12" placeholder="Home Phone #" />
            </div>
            <div class="form-row">
                <label>Home address:</label><input type="text" name="home_address1" value="{{person.home_address1}}" placeholder="Home Address Line 1" /><br />
                <label class="home_address">&nbsp;</label><input type="text" name="home_address2" value="{{person.home_address2}}" placeholder="Home Address Line 2" /><br />
                <label class="home_address">&nbsp;</label><input type="text" name="home_address3" value="{{person.home_address3}}" placeholder="Home Address Line 3" /><br />
                <label>City, State Zip:</label>
                    <input type="text" name="home_city" value="{{person.home_city}}" placeholder="Residence City" />,
                    <select name="home_state">
                        <option value=""></option>
                        {% for state in states %}
                            <option value="{{state.st}}" {% ifequal state.st person.home_state %}selected="selected"{% endifequal %}>{{state.st}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" name="home_zip" value="{{person.home_zip}}" size="5" placeholder="Postal Code" />
            </div>
            <div class="form-row">
                <label class="home_address">&nbsp;</label>
                <select name="home_country">
                    {% for ctry, txt in countries %}
                        <option value="{{ctry}}" {% ifequal ctry person.home_country %}selected="selected"{% endifequal %}>{{txt}}</option>
                    {% endfor %}
                </select>
            </div>
        </fieldset>
        <input type="submit" name="submit" value="Submit Changes" />
    </form>
    </div>
{% endblock %}