<h3>Personal Information</h3>
{% if data.prefix %}Prefix: changed from "{{data.original_prefix}}" to "{{data.prefix}}"<br />{% endif %}
{% if data.fname %}First Name: changed from "{{data.original_fname}}" to "{{data.fname}}"<br />{% endif %}
{% if data.maidenname %}Maiden Name: changed from "{{data.original_maidenname}}" to "{{data.maidenname}}"<br />{% endif %}
{% if data.lname %}Last Name: changed from "{{data.original_lname}}" to "{{data.lname}}"<br />{% endif %}
{% if data.suffix %}Suffix: changed from "{{data.original_suffix}}" to "{{data.suffix}}"<br />{% endif %}
{% if data.class_year %}Class Year: changed from "{{data.original_classyear}}" to "{{data.class_year}}"<br />{% endif %}

<h3>Family</h3>
{% for rel in data.relatives %}
Relative: {{rel.fname}} {{rel.lname}} ({{rel.relcode}})<br />
{% endfor %}

<h3>Academics</h3>
{% if data.degree %}Degree: changed from "{{data.original_degree}}" to "{{data.degree}}"<br />{% endif %}
{% if data.major1 %}Major 1: changed from "{{data.original_major1}}" to "{{data.major1}}"<br />{% endif %}
{% if data.major2 %}Major 2: changed from "{{data.original_major2}}" to "{{data.major2}}"<br />{% endif %}
{% if data.major3 %}Major 3: changed from "{{data.original_major3}}" to "{{data.major3}}"<br />{% endif %}
{% if data.masters_grad_year %}Masters Graduation Year: changed from "{{data.original_mastersgradyear}}" to "{{data.masters_grad_year}}"<br />{% endif %}

    <h4>Student Organizations/Athletics</h4>
{% for org in data.organizations %}
    {{org.activityText}}<br />
{% endfor %}

<h3>Professional Information</h3>
{% if data.business_name %}Business Name: changed from "{{data.original_businessname}}" to "{{data.business_name}}"<br />{% endif %}
{% if data.job_title %}Job Title: changed from "{{data.original_jobtitle}}" to "{{data.job_title}}"<br />{% endif %}
{% if data.business_address %}Business Address: changed from "{{data.original_businessaddress}}" to "{{data.business_address}}"<br />{% endif %}
{% if data.business_city %}Business City: changed from "{{data.original_businesscity}}" to "{{data.business_city}}"<br />{% endif %}
{% if data.business_state %}Business State: changed from "{{data.original_businessstate}}" to "{{data.business_state}}"<br />{% endif %}
{% if data.business_zip %}Business Zip: changed from "{{data.original_businesszip}}" to "{{data.business_zip}}"<br />{% endif %}
{% if data.business_country %}Business Country: changed from "{{data.original_businesscountry}}" to "{{data.business_country}}"<br />{% endif %}
{% if data.business_phone %}Business Phone: changed from "{{data.original_businessphone}}" to "{{data.business_phone}}"<br />{% endif %}

<h3>Address</h3>
{% if data.email %}Email: changed from "{{data.original_email}}" to "{{data.email}}"<br />{% endif %}
{% if data.home_phone %}Home Phone: changed from "{{data.original_homephone}}" to "{{data.home_phone}}"<br />{% endif %}
{% if data.home_address %}Home Address: changed from "{{data.original_homeaddress}}" to "{{data.home_address}}"<br />{% endif %}
{% if data.home_address2 %}Home Address Line 2: changed from "{{data.original_homeaddress2}}" to "{{data.home_address2}}"<br />{% endif %}
{% if data.home_address3 %}Home Address Line 3: changed from "{{data.original_homeaddress3}}" to "{{data.home_address3}}"<br />{% endif %}
{% if data.home_city %}Home City: changed from "{{data.original_homecity}}" to "{{data.home_city}}"<br />{% endif %}
{% if data.home_state %}Home State: changed from "{{data.original_homestate}}" to "{{data.home_state}}"<br />{% endif %}
{% if data.home_zip %}Home Zip: changed from "{{data.original_homezip}}" to "{{data.home_zip}}"<br />{% endif %}
{% if data.home_country %}Home Country: changed from "{{data.original_homecountry}}" to "{{data.home_country}}"<br />{% endif %}