{% autoescape off %}
{% if data.personal %}
  <h3>Personal Information</h3>
  <dl {{dl_detail}}>
  {% if data.prefix %}
    <dt {{dl_dt}}>
        Prefix
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_prefix}}"
        to
        "<b>{{data.prefix}}</b>"
    </dd>
  {% endif %}
  {% if data.first_name %}
    <dt {{dl_dt}}>
        First Name
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_first_name}}"
        to
        "<b>{{data.first_name}}</b>"
    </dd>
  {% endif %}
  {% if data.alt_name %}
    <dt {{dl_dt}}>
        Preferred Name
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_alt_name}}"
        to
        "<b>{{data.alt_name}}</b>"
    </dd>
  {% endif %}
  {% if data.maiden_name != data.original_maiden_name %}
    <dt {{dl_dt}}>
        Maiden Name
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_maiden_name}}"
        to
        "<b>{{data.maiden_name}}</b>"
    </dd>
  {% endif %}
  {% if data.last_name %}
    <dt {{dl_dt}}>
        Last Name
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_last_name}}"
        to
        "<b>{{data.last_name}}</b>"
    </dd>
  {% endif %}
  {% if data.suffix %}
    <dt {{dl_dt}}>
        Suffix
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_suffix}}"
        to
        "<b>{{data.suffix}}</b>"
    </dd>
  {% endif %}
  {% if data.class_year %}
    <dt {{dl_dt}}>
        Class Year
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_classyear}}"
        to
        "<b>{{data.class_year}}</b>"
    </dd>
  {% endif %}
  </dl>
{% endif %}
{% if data.relative_temp %}
  <h3>Family</h3>
  <div>
    <div style="width:50%;float:left;">
      <h4>Original</h4>
      <ol>
      {% for rel in data.relative_orig %}
        <li>{{rel.1}}, {{rel.0}} ({{rel.2}})</li>
      {% endfor %}
      </ol>
    </div>
    <div style="width:50%;float:left;">
      <h4>New</h4>
      <ol>
      {% for rel in data.relative_temp %}
        <li>{{rel.last_name}}, {{rel.first_name}} ({{rel.relation_code}})</li>
      {% endfor %}
      </ol>
    </div>
  </div>
{% endif %}
<div style="clear:both;"></div>
{% if data.academics %}
  <h3>Academics</h3>
  <dl {{dl_detail}}>
  {% if data.degree %}
    <dt {{dl_dt}}>
        Degree
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_degree}}"
        to
        "<b>{{data.degree}}</b>"
    </dd>
  {% endif %}
  {% if data.major1 %}
    <dt {{dl_dt}}>
        Major 1
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_major1}}"
        to
        "<b>{{data.major1}}</b>"
    </dd>
  {% endif %}
  {% if data.major2 %}
    <dt {{dl_dt}}>
        Major 2
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_major2}}"
        to
        "<b>{{data.major2}}</b>"
    </dd>
  {% endif %}
  {% if data.major3 %}
    <dt {{dl_dt}}>
        Major 3
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_major3}}"
        to
        "<b>{{data.major3}}</b>"
    </dd>
  {% endif %}
  {% if data.masters_grad_year %}
    <dt {{dl_dt}}>
        Masters Graduation
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_masters_grad_year}}"
        to
        "<b>{{data.masters_grad_year}}</b>"
    </dd>
  {% endif %}
  </dl>
{% endif %}
{% if data.organizations %}
  <h3>Student Organizations/Athletics</h3>
  <dl {{dl_detail}}>
  {% for org in data.organizations %}
    <dt {{dl_dt}}>
        Activity {{forloop.counter}}
    </dt>
    <dd {{dl_dd}}>
      <b>{{org.0}}</b>
    </dd>
  {% endfor %}
  </dl>
{% endif %}
{% if data.business %}
  <h3>Professional Information</h3>
  <dl {{dl_detail}}>
  {% if data.business_address_line1 %}
    <dt {{dl_dt}}>
        Business 1
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_business_address_line1}}"
        to
        "<b>{{data.business_address_line1}}</b>"
    </dd>
  {% endif %}
  {% if data.business_address_line2 %}
    <dt {{dl_dt}}>
        Business 2
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_business_address_line2}}"
        to
        "<b>{{data.business_address_line2}}</b>"
    </dd>
  {% endif %}
  {% if data.business_address_line3 %}
    <dt {{dl_dt}}>
        Business 3
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_business_address_line3}}"
        to
        "<b>{{data.business_address_line3}}</b>"
    </dd>
  {% endif %}
  {% if data.business_city %}
    <dt {{dl_dt}}>
        Business City
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_business_city}}"
        to
        "<b>{{data.business_city}}</b>"
    </dd>
  {% endif %}
  {% if data.business_state %}
    <dt {{dl_dt}}>
        Business State
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_business_state}}"
        to
        "<b>{{data.business_state}}</b>"
    </dd>
  {% endif %}
  {% if data.business_postal_code %}
    <dt {{dl_dt}}>
        Business Postal Code
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_business_postal_code}}"
        to
        "<b>{{data.business_postal_code}}</b>"
    </dd>
  {% endif %}
  {% if data.business_country %}
    <dt {{dl_dt}}>
        Business Country
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_business_country}}"
        to
        "<b>{{data.business_country}}</b>"
    </dd>
  {% endif %}
  {% if data.business_phone %}
    <dt {{dl_dt}}>
        Business Phone
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_business_phone}}"
        to
        "<b>{{data.business_phone}}</b>"
    </dd>
  {% endif %}
  </dl>
{% endif %}
{% if data.home %}
  <h3>Address</h3>
  <dl {{dl_detail}}>
  {% if data.email %}
    <dt {{dl_dt}}>
        Email
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_email}}"
        to
        "<b>{{data.email}}</b>"
    </dd>
  {% endif %}
  {% if data.home_phone %}
    <dt {{dl_dt}}>
        Home Phone
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_home_phone}}"
        to
        "<b>{{data.home_phone}}</b>"
    </dd>
  {% endif %}
  {% if data.home_address_line1 %}
    <dt {{dl_dt}}>
        Home Address
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_home_address_line1}}"
        to
        "<b>{{data.home_address_line1}}</b>"
    </dd>
  {% endif %}
  {% if data.home_address_line2 %}
    <dt {{dl_dt}}>
        Home Address Line 2
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_home_address_line2}}"
        to
        "<b>{{data.home_address_line2}}</b>"
    </dd>
  {% endif %}
  {% if data.home_address_line3 %}
    <dt {{dl_dt}}>
        Home Address Line 3
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_home_address_line3}}"
        to
        "<b>{{data.home_address_line3}}</b>"
    </dd>
  {% endif %}
  {% if data.home_city %}
    <dt {{dl_dt}}>
        Home City
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_home_city}}"
        to
        "<b>{{data.home_city}}</b>"
    </dd>
  {% endif %}
  {% if data.home_state %}
    <dt {{dl_dt}}>
        Home State
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_home_state}}"
        to
        "<b>{{data.home_state}}</b>"
    </dd>
  {% endif %}
  {% if data.home_postal_code %}
    <dt {{dl_dt}}>
        Home Postal Code
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_home_postal_code}}"
        to
        "<b>{{data.home_postal_code}}</b>"
    </dd>
  {% endif %}
  {% if data.home_country %}
    <dt {{dl_dt}}>
        Home Country
    </dt>
    <dd {{dl_dd}}>
        changed from
        "{{data.original_home_country}}"
        to
        "<b>{{data.home_country}}</b>"
    </dd>
  {% endif %}
  </dl>
{% endif %}
{% endautoescape %}
