{% extends "core/home.html" %}
{% block title %}Search &mdash; {{block.super}}{% endblock %}
{% block extra_style %}
    {{block.super}}
    <link rel="stylesheet" href="{{static_url}}css/tablesorter_theme/blue/style.css" />
    <style type="text/css">
        .center {text-align:center;font-size:14px;font-weight:bold;}
        #searchResults {padding:3px 5px;}
        th.headerSortUp {
            background: url('{{static_url}}css/tablesorter_theme/blue/asc.gif') no-repeat #3399FF;
        }
        #profile .form-row {margin-bottom:3px;}
    </style>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript" src="{{static_url}}js/commonLib.js"></script>
    <script type="text/javascript" src="{{static_url}}js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="{{static_url}}/js/alumniSearch.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            {% if searching %}
                {% for field, term in searching.items %}
                    createBlock('{{field}}','{{term}}');
                {% endfor %}
            {% else %}
                createBlock();
            {% endif %}
        });
    </script>
{% endblock %}
{% block content %}
    <div class="buffer">
    {% if message %}<div class="message">{{message}}</div>{% endif %}
    <h1>Search:</h1>
    <form action="." name="searchForm" method="post" class="form" id="profile">
        <input type="hidden" name="maxCriteria" value="0" />
        {% csrf_token %}
        <fieldset id="formfieldset">
            <div id="submitrow" class="form-row">
                <input type="submit" name="submit" value="Search" class="button" />
            </div>
        </fieldset>
    </form>

    {% if matches %}
    <h3>{{matches|length}} match{{matches|length|pluralize:"es"}}</h3>
    <table id="searchResults" class="tablesorter">
        <thead>
            <tr><th>Class Year</th><th>First Name</th><th>Last Name</th><th>Action</th><th>Message</th></tr>
        </thead>
        <tbody>
            {% for person in matches %}
                <tr class="{% cycle 'odd' 'even' %}">
                    <td>{{person.class_year}}</td>
                    <td>{{person.firstname}}</td>
                    <td>{% if person.maiden_name %}({{person.maiden_name}}) {% endif %}{{person.lastname}}</td>
                    <td><a href="{% url 'manager_alum_display' person.id %}">Details</a>
                        {% if session.is_superuser %} &nbsp; <a href="../edit/{{person.id}}">Edit</a>{% endif %}
                    </td>
                    <td>
                        <a href="#">Send Message</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}

    {% if debug %}
        {{debug}}
    {% endif %}
    </div>
{% endblock %}