{% extends "core/home.html" %}
{% block extra_styles %}
    {{block.super}}
    <style type="text/css">
        .center {text-align:center;font-size:14px;font-weight:bold;}
    </style>
{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
        var MAX_CRITERIA = 5;
        var criteria = 1;

        function createOption(value, text){
            var obj = document.createElement('OPTION');
            obj.value = value;
            obj.text = text;
            return obj;
        }

        function createBlock(){
            if(criteria <= MAX_CRITERIA){
                var divObj = document.createElement('DIV');
                divObj.className = 'form-row';
                divObj.id = 'search' + criteria;
                var selectObj = document.createElement('SELECT');
                selectObj.name = 'within' + criteria;
                var optionArr = new Array();
                optionArr[0] = createOption('firstname','First Name');
                optionArr[1] = createOption('lastname','Last Name');
                optionArr[2] = createOption('cl_yr','Class year');
                optionArr[3] = createOption('home_state','Home State');
                optionArr[4] = createOption('home_city','Home City');
                optionArr[5] = createOption('id_rec.id','ID Number');
                optionArr[6] = createOption('maiden.lastname','Maiden Name');
                optionArr[7] = createOption('activity','Activity/Sport');
                optionArr[8] = createOption('major1.txt','Primary Major');
                optionArr[9] = createOption('major2.txt','Secondary Major');
                optionArr[10] = createOption('job_title','Job Title');

                for(var i = 0; i < optionArr.length; i++)
                    selectObj.options[selectObj.options.length] = optionArr[i];
                divObj.appendChild(selectObj);
                divObj.appendChild(document.createTextNode(' contains '));
                var txtInputObj = document.createElement('INPUT');
                txtInputObj.type = 'text';
                txtInputObj.name = 'term' + criteria;
                txtInputObj.size = '15';
                divObj.appendChild(txtInputObj);
                if(criteria < MAX_CRITERIA){
                    divObj.appendChild(document.createTextNode(' '));
                    var addObj = document.createElement('INPUT');
                    addObj.type = 'button';
                    addObj.name = 'add_search' + criteria;
                    addObj.value = 'ADD';
                    addObj.onclick = createBlock;
                    divObj.appendChild(addObj);
                }
                document.getElementById('formfieldset').insertBefore(divObj,document.getElementById('submitrow'));
                criteria++;
            }
        }
        window.onload = createBlock;
        
        $(document).ready(function(){
            $('input[name="maxCriteria"]').val(MAX_CRITERIA);
        });
    </script>
{% endblock %}
{% block content %}
    {% if message %}<div class="message">{{message}}</div>{% endif %}
    <p>Search:</p>
    <form action="." method="post">
        <input type="hidden" name="maxCriteria" value="0" />
        {% csrf_token %}
        <fieldset id="formfieldset">
            <div id="submitrow" class="form-row">
                <input type="submit" name="submit" value="Search" />
            </div>
        </fieldset>
    </form>

    {% if matches %}
    <table>
        <tr><td colspan="5" class="center">{{matches|length}} match{{ matches|length|pluralize:"es"}}</td></tr>
        <tr><th>Class Year</th><th>First Name</th><th>Last Name</th><th>Deceased</th><th>Action</th></tr>
        {% for person in matches %}
            <tr>
                <td>{{person.class_year}}</td>
                <td>{{person.firstname}}</td>
                <td>{% if person.maiden_name %}({{person.maiden_name}}) {% endif %}{{person.lastname}}</td>
                <td>{% comment %}{% if person.is_deceased %}deceased{% endif %}{% endcomment %}</td>
                <td><a href="/alumni/directory/manager/display/{{person.id}}/">Details</a>
                    {% if session.is_superuser %} &nbsp; <a href="/alumni/apps/directory/edit/{{person.id}}">Edit</a>{% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <h3>Fields</h3>
    <p>{{fields}}</p>
    
    <h3>Terms</h3>
    <p>{{terms}}</p>
    
    <h1>Debug</h1>
    <p>{{debug}}</p>
{% endblock %}
